<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
    <display-name>DALServer Framework Test Configuration (TAP+UWS version)</display-name>
    <description>
      This configuration defines a number of services used to test the DALServer Framework.
    </description>

    <!-- Web-App Context Initialization Parameters. -->

    <context-param>
      <param-name>webAppName</param-name>
      <param-value>ivoa-dal</param-value>
    </context-param>
    <context-param>
      <param-name>configDir</param-name>
      <param-value>/opt/services/dalserver</param-value>
    </context-param>
    <context-param>
      <param-name>configFile</param-name>
      <param-value>server.conf</param-value>
    </context-param>
    <context-param>
      <param-name>webAppConfig</param-name>
      <param-value>/WEB-INF/web.xml</param-value>
    </context-param>
    <context-param>
      <param-name>webAppClasses</param-name>
      <param-value>/WEB-INF/classes</param-value>
    </context-param>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/opt/services/dalserver/log4j.properties</param-value>
    </context-param>


    <!-- Service Definitions. -->

    <servlet>
      <servlet-name>reload</servlet-name>
      <servlet-class>dalserver.Config</servlet-class>

      <!-- Servlet Parameters. -->

      <init-param>
        <param-name>serviceName</param-name>
        <param-value>reload</param-value>
      </init-param>
    </servlet>

    <servlet-mapping>
      <servlet-name>reload</servlet-name>
      <url-pattern>/reload</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>scs-messier</servlet-name>
      <servlet-class>dalserver.scs.ScsServlet</servlet-class>

      <!-- Servlet Parameters. -->

      <init-param>
        <param-name>serviceName</param-name>
        <param-value>scs-messier</param-value>
      </init-param>
      <init-param>
        <param-name>serviceName</param-name>
        <param-value>scs-messier</param-value>
      </init-param>
      <init-param>
        <param-name>serviceClass</param-name>
        <param-value>scs</param-value>
      </init-param>
    </servlet>

    <servlet-mapping>
      <servlet-name>scs-messier</servlet-name>
      <url-pattern>/scs-messier</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>siap</servlet-name>
      <servlet-class>dalserver.sia.SiapServlet</servlet-class>

      <!-- Servlet Parameters. -->

      <init-param>
        <param-name>serviceName</param-name>
        <param-value>siap</param-value>
      </init-param>
    </servlet>

    <servlet-mapping>
      <servlet-name>siap</servlet-name>
      <url-pattern>/siap</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>ssap</servlet-name>
      <servlet-class>dalserver.ssa.SsapServlet</servlet-class>

      <!-- Servlet Parameters. -->

      <init-param>
        <param-name>serviceName</param-name>
        <param-value>ssap-null</param-value>
      </init-param>
    </servlet>

    <servlet-mapping>
      <servlet-name>ssap</servlet-name>
      <url-pattern>/ssap</url-pattern>
    </servlet-mapping>

</web-app>
